<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>991535663097-angk43hlbinvumthv2fo0egp8qoegkj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991535663097-angk43hlbinvumthv2fo0egp8qoegkj8</string>
	<key>API_KEY</key>
	<string>AIzaSyBtBd7ji_56tNmiWwfVK9Vs7Nm_w5xoQLI</string>
	<key>GCM_SENDER_ID</key>
	<string>991535663097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simicart.Max</string>
	<key>PROJECT_ID</key>
	<string>simicart-1494757484807</string>
	<key>STORAGE_BUCKET</key>
	<string>simicart-1494757484807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991535663097:ios:1c37603b03a4ccc1</string>
	<key>DATABASE_URL</key>
	<string>https://simicart-1494757484807.firebaseio.com</string>
</dict>
</plist>