<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.chnen.com</string>
		<string>applinks:chnen.com</string>
		<string>kalkifashion://</string>
		<string>applinks:albazaarshops.page.link</string>
		<string>applinks:*.albazaar.shop</string>
		<string>applinks:my.fnlife.com</string>
		<string>applinks:www.my.fnlife.com</string>
	</array>
</dict>
</plist>
